.img {
	width: 250px;
	height: 150px;
	object-fit: cover;
	border-radius: 14px;
}

.title {
	font-size: 16px;
	line-height: 20px;
	color: #19202c;
}

.lightTitle {
	font-size: 16px;
	line-height: 20px;
	color: #fff;
}

.wrapper {
	max-width: 250px;
}

@media only screen and (max-width: 1111px) {
	.img {
		width: 180px;
		height: 110px;
	}

	.title {
		font-size: 13px;
		line-height: 18px;
	}
}