.form {
	display: flex;
	flex-direction: column;
}

.wrapper {
	max-width: 490px;
	margin: 0 auto;
	padding-top: 150px;
}

.mainWrapper {
	height: 100vh;
}

.inp {
	height: 70px;
	margin-bottom: 25px;
	border-radius: 5px;
	border: 1px solid #cccccc;
	padding-left: 20px;
	padding-right: 20px;
}

.inp:focus {
	outline: 1px solid #ff0000;
}

.inp::placeholder {
	font-size: 14px;
	font-weight: 400;
	opacity: 0.8;
}

.logo {
	width: 200px;
	margin-bottom: 22px;
}

.container {
	max-width: 490px;
	padding-left: 20px;
	padding-right: 20px;
}

.lightMainWrapper {
	background-color: #17171e;
	padding-bottom: 21.9%;
}