.container {
	max-width: 1400px;
	padding-left: 20px;
	padding-right: 20px;
	margin: 0 auto;
}

.iframeWrapper {
	max-width: 1000px;
}

.video {
	margin-top: 30px;
	border-radius: 14px;
	width: 100%;
}

.vidTitle {
	font-size: 24px;
	line-height: 45px;
	color: #192646;
}

.vidViews {
	font-size: 16px;
	line-height: 25px;
	color: #c2c2c2;
}

.statsWrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 1000px;
	margin-top: 14px;
	padding-bottom: 20px;
	border-bottom: 1px solid #ebebeb;
	margin-bottom: 38px;
}

.like {
	display: flex;
	align-items: center;
	gap: 8px;
}

.like > * {
	color: #c2c2c2;
}
.likeCount {
	color: #192646;
	font-size: 15px;
}

.right {
	display: flex;
	gap: 25px;
	align-items: center;
}

.disLike {
	display: flex;
	align-items: center;
	gap: 8px;
}

.disLike > * {
	color: #c2c2c2;
}
.disLike {
	color: #192646;
	font-size: 15px;
}

.share {
	display: flex;
	align-items: center;
	gap: 8px;
}

.share > * {
	color: #c2c2c2;
}
.shareT {
	color: #192646;
	font-size: 15px;
}

.nav {
	padding-top: 20px;
}

.channelNameImg {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	object-fit: cover;
}

.channelLeft {
	display: flex;
	gap: 12px;
}

.channelTtle {
	color: #000000;
}

.lightChannelTtle {
	color: #c2c2c2;
}

.lightDesc {
	color: #c2c2c2;
	max-width: 820px;
	margin-top: 14px;
	margin-bottom: 15px;
	font-size: 14px;
	line-height: 22px;
	mix-blend-mode: normal;
	opacity: 0.6;
}

.forBtnLeft {
	margin-bottom: 20px;
}

.chRight {
	max-width: 900px;
	display: flex;
	flex-direction: column;
}

.publishedOn {
	color: #c2c2c2;
}

.desc {
	max-width: 820px;
	margin-top: 14px;
	margin-bottom: 15px;
	font-size: 14px;
	line-height: 22px;
	color: #000000;
	mix-blend-mode: normal;
	opacity: 0.6;
}

.chRight > h4 {
	margin-bottom: 4px;
}

.subsBtn {
	font-weight: 400 !important;
	font-size: 16px !important;
	line-height: 20px !important;
	text-align: center !important;
	color: #ffffff !important;
	background: #ff0000 !important;
	border-radius: 20px !important;
	width: 154px !important;
	height: 40px !important;
	border: none !important;
}

.channelWrapper {
	display: flex;
	justify-content: space-between;
	max-width: 1000px;
}

.main {
	display: flex;
	justify-content: space-between;
}

.lightMain {
	display: flex;
	justify-content: space-between;
}

.nextLeft {
	width: 300px;
	margin-top: 30px;
	/* max-height: 100vh; */
	overflow: scroll;
}

.nextLeft::-webkit-scrollbar {
	display: none;
}

.lightVidTitle {
	color: #fff;
}

.lightLikeCount {
	color: #fff;
}

.lightDisLikeCount {
	color: #fff;
}

.lightShareT {
	color: #fff;
}

.lightMore {
	color: #fff;
}

.forBtnLeft {
	display: flex;
	justify-content: space-around;
}

.iframeWrapper {
	max-width: 1000px;
}

.lightThe {
	background-color: red;
}

/* .lightMain {
	background-color: red;
} */

.rightt {
	overflow-y: auto;
	max-height: 1000px;
}

.rightt::-webkit-scrollbar {
	display: none;
}

.lightContainerWrapper {
	background-color: #17171e;
}

@media only screen and (max-width: 1368px) {
	.main {
		gap: 30px;
	}

	.lightMain {
		gap: 30px;
	}
}

@media only screen and (max-width: 1020px) {
	.main {
		justify-content: space-between;
	}

	.lightMain {
		justify-content: space-between;
	}

	.video {
		height: 400px;
	}
}

@media only screen and (max-width: 900px) {
	.main {
		display: flex;
		flex-direction: column;
	}

	.lightMain {
		display: flex;
		flex-direction: column;
	}

	.video {
		height: 500px;
	}

	.chRight {
		max-width: 100%;
	}

	.rightt {
		margin: 0 auto;
	}
}

@media only screen and (max-width: 800px) {
	.video {
		height: 400px;
	}
}

@media only screen and (max-width: 650px) {
	.video {
		height: 350px;
	}
	.vidTitle {
		font-size: 20px;
	}

	.lightVidTitle {
		font-size: 20px;
	}

	.subsBtn {
		width: 130px !important;
		height: 35px !important;
	}
}

@media only screen and (max-width: 500px) {
	.video {
		height: 250px;
	}
}

@media only screen and (max-width: 467px) {
	.vidTitle {
		margin-top: 10px;
		font-size: 18px;
		line-height: 30px;
	}

	.lightVidTitle {
		margin-top: 10px;
		font-size: 18px;
		line-height: 30px;
	}

	.desc {
		display: none;
	}

	.channelNameImg {
		width: 50px;
		height: 50px;
	}

	.channelTtle {
		font-size: 16px;
	}

	.publishedOn {
		font-size: 12px;
	}

	.subsBtn {
		font-weight: 400 !important;
		font-size: 16px !important;
		line-height: 20px !important;
		color: #ff0000 !important;
		background-color: #fff !important;
		width: 0 !important;
		height: 0 !important;
		margin-right: 25px !important;
	}
}

@media only screen and (max-width: 367px) {
	.video {
		height: 180px;
	}

	.sa {
		max-width: 140px;
	}
}