.channelVideos {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.recom {
	font-weight: 700;
	font-size: 26px;
	line-height: 33px;
	color: #19202c;
	margin-bottom: 30px;
	margin-top: 49px;
}

.lightRecom {
	font-weight: 700;
	font-size: 26px;
	line-height: 33px;
	color: #fff;
	margin-bottom: 30px;
	margin-top: 49px;
}

.slider {
	padding-right: 25px;
}