.img {
	width: 400px;
	height: 252.49px;
	border-radius: 14px;
	object-fit: cover;
}

.wrapImg {
	min-width: 450px;
}

.wrapper {
	display: flex;
}

.wrapText > p {
	flex-wrap: wrap;
	color: black;
}

.wrapText > h3 {
	color: #000;
}

@media only screen and (max-width: 985px) {
	.wrapper{ 
		width: 400px;
	}
}